---

---

<footer class="mt-24 pb-0">
  <!-- pb-32 ensures dock doesn't cover footer content -->
  <div class="glass-card border-t border-base-content/10 py-12 rounded-none">
    <div
      class="max-w-4xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-8 text-sm text-base-content/60 font-mono text-center md:text-left"
    >
      <p>&copy; 2026 NRVA. All rights reserved.</p>

      <div
        class="badge badge-primary badge-outline py-4 px-6 rounded-full shadow-[0_0_15px_rgba(var(--color-primary),0.3)]"
      >
        Made by VDT-Y4
      </div>

      <!-- <div class="flex flex-wrap justify-center gap-6 font-bold">
        <a
          href="#"
          class="hover:text-primary transition-colors flex items-center gap-2"
        >
          <span class="icon-[tabler--brand-spotify] size-5"></span> Spotify
        </a>
        <a
          href="#"
          class="hover:text-primary transition-colors flex items-center gap-2"
        >
          <span class="icon-[tabler--brand-soundcloud] size-5"></span> Soundcloud
        </a>
        <a
          href="#"
          class="hover:text-primary transition-colors flex items-center gap-2"
        >
          <span class="icon-[tabler--brand-instagram] size-5"></span> Instagram
        </a> -->
      <!-- </div> -->
    </div>
  </div>
</footer>
